<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_type_drone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,108},{32,34}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{32,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,128},{46,56}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{46,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{56,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{52,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{52,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,66},{52,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{52,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{50,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{50,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,234},{28,20}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,204},{28,20}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,172},{28,20}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,41},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,106},{30,28}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{30,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{28,48}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{28,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,128},{28,50}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{28,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,186},{28,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{28,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,32},{30,44}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,174},{28,40}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,154},{28,40}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,144},{28,40}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,124},{28,40}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,94},{28,40}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,64},{30,40}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{30,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,186},{28,46}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,192},{28,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{28,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{30,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{30,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{32,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{32,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,64},{32,42}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,144},{28,40}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,66},{28,44}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,64},{28,40}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,136},{30,34}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,27},{30,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,204},{28,20}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,204},{28,20}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{28,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,184},{22,20}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{22,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,202},{12,20}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{12,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,184},{16,20}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{16,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,238},{16,16}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,45},{16,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,214},{18,16}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,45},{18,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,238},{20,16}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,45},{20,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,222},{18,14}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{18,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{18,14}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{18,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,112},{18,14}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{18,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,216},{12,14}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,46},{12,14}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,194},{18,12}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,48},{18,12}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,112},{12,8}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,52},{12,8}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,234},{38,20}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{38,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tower_type_drone_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,234},{36,20}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,33},{36,20}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_type_drone-hd.pvr.ccz</string>
            <key>size</key>
            <string>{252,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7de392747d62bba00e6fc486b5c01e98$</string>
            <key>textureFileName</key>
            <string>tower_type_drone-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
